<div class="container">
    <div class="row mt-5">
        <div class="col-12">
            <p class="lead">TODO</p>
            <ul>
                <li>Display customer details</li>
                <li>Load the list of invoices belonging to this customer</li>
                <li>Details should be editedable</li>
                <li>Customer can only be deleted, but only if he/she doesn't have any invoices</li>
            </ul>
        </div>
        
        <div>
            
        </div>
    </div>
</div>