<div class="container">
    <div class="row mt-5">
        <div class="col-12">
            <p class="lead">TODO</p>
            <ul>
                <li>Display customer details</li>
                <li>Load the list of invoices belonging to this customer</li>
                <li>Details should be editedable</li>
                <li>Customer can only be deleted, but only if he/she doesn't have any invoices</li>
            </ul>
        </div>
    </div>
    <div class="submit-form">
        <div *ngIf="!submitted">

        <div class="form-group">
            <label for="id">ID</label>
            <input
              class="form-control"
              id="id"
              required
              [(ngModel)]="customer.id"
              name="id"
            />
          </div>

        
          <div class="form-group">
            <label for="firstname">First Name</label>
            <input
              type="text"
              class="form-control"
              id="firstname"
              required
              [(ngModel)]="customer.firstname"
              name="firstname"
            />
          </div>
          <div class="form-group">
            <label for="lasttname">Last Name</label>
            <input
              type="text"
              class="form-control"
              id="lastname"
              required
              [(ngModel)]="customer.lastname"
              name="lastname"
            />
          </div>

          <div class="form-group">
            <label for="description">Description</label>
            <input
              class="form-control"
              id="description"
              required
              [(ngModel)]="tutorial.description"
              name="description"
            />
          </div>
    
          <button (click)="saveCustomer()" class="btn btn-success">Submit</button>
        </div>
    
        <div *ngIf="submitted">
          <h4>Tutorial was submitted successfully!</h4>
          <button class="btn btn-success" (click)="newCustomer()">Add</button>
        </div>
      </div>
</div>
